* {
    padding: 0;
    margin: 0;

   


}

.upper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.body {
    margin-left: 100px;
}

.interface {
    display: flex;
    background-color: rgba(3, 3, 32, 0.9);
   
    
    
}

.title {
    font-size: 20px;
    color: aliceblue;
}

.under {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
